.page {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;

  .wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto min-content;
    gap: 1rem;
    justify-items: center;

    .photo-container {
      grid-row: 1;
      grid-column: 1;
    }

    .remove-from-fav-button-container {
      grid-row: 2;
      grid-column: 1;
    }
  }
}
