.photo-card {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  overflow: hidden;

  &.clickable {
    cursor: pointer;
  }
}

.photo-card-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
