@use './breakpoints' as bp;

.container {
  width: 100%;
  max-width: var(--container-max);
  margin-inline: auto;
  padding: var(--container-pad);
}

@media (min-width: bp.$bp-sm) {
  :root {
    --container-pad: 20px;
  }
}

@media (min-width: bp.$bp-sm) {
  :root {
    --container-pad: 24px;
  }
}

@media (min-width: bp.$bp-lg) {
  :root {
    --container-pad: 28px;
  }
}
