@use '@angular/material' as mat;
@use 'sass:color';
@use './palette' as p;
@use './typography' as t;

$primary-raw: (
  500: p.$color-primary,
  600: color.scale(p.$color-primary, $lightness: -6%),
  700: color.scale(p.$color-primary, $lightness: -12%),
  contrast: (
    500: white,
    600: white,
    700: white,
  ),
);

$accent-raw: (
  500: p.$color-accent,
  600: color.scale(p.$color-accent, $lightness: -6%),
  700: color.scale(p.$color-accent, $lightness: -12%),
  contrast: (
    500: white,
    600: white,
    700: white,
  ),
);

$warn-raw: (
  500: p.$color-warn,
  600: color.scale(p.$color-warn, $lightness: -6%),
  700: color.scale(p.$color-warn, $lightness: -12%),
  contrast: (
    500: white,
    600: white,
    700: white,
  ),
);

$primary: mat.m2-define-palette($primary-raw, 500, 600, 700);
$accent: mat.m2-define-palette($accent-raw, 500, 600, 700);
$warn: mat.m2-define-palette($warn-raw, 500, 600, 700);

$typography: mat.m2-define-typography-config(
  $font-family: t.$font-base,
);

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: $typography,
    density: 0,
  )
);

@mixin apply-material-theme() {
  @include mat.core();
  @include mat.all-component-themes($theme);
}
